/*---------------------------*/
/*CSS-Design für Wiki.web.Dev*/
/*---------------------------*/


body {
	background-color: #c5dee1;
	color: #000000;
	font-size: 87.5%;											/*Basis-Schriftgräße ist 14px!*/
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}
  
a {
	text-decoration: none;										 /*unterstrichende Links verhindern*/
}

a:link, a:visited {												/*besuchte Links*/
	color: #cf5c3f;
}

a:hover, a:active {												/*Links generell*/
	background-color: #cf5c3f;
	color: #ffffff;
}


/*--------Klassen und ID's--------*/


.body {
	margin: 0 auto;											
	width: 70%;
	clear: both;												/*keine float-Elemente rechts und links erlaubt*/
}
 
.mainHeader img {
	width: 30%;
	height: auto;
	margin: 2% 0;
}

.mainHeader nav {
	background-color: #666;
	height: 40px;												/*Navigationshöhe 40px als Basiswert*/
	border-radius: 5px;
	-moz-border-radius: 5px;									/*für Mozilla-Browser*/
	-webkit-border-radius: 5px;									/*für Webkit-Browser, z.B. Chrome*/
} 
 
.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
} 
 
.mainHeader nav ul li {
	float: left;												/*links ausgerichtet, automatisch angeordnet*/
	display: inline;				 							/*noch unklar, ob wirklich gebraucht---------------------------*/
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #ffffff;
	display: inline-block;
	padding: 10px 25px;											/*von der Navigationshöhe abziehen: 10 oben und 10 unten*/
	height: 20px; 												/*bleiben 40px-10px-10px=20px als Höhe für den nav-Container*/
}

.mainHeader nav a:hover, .mainHeader nav a:active {
	background-color: #cf5c3f;
}
 
.mainHeader nav ul li a {
	border-radius: 5px;
	-moz-border-radius: 5px;									/*für Mozilla-Browser*/
	-webkit-border-radius: 5px;									/*für Webkit-Browser, z.B. Chrome*/
}

.mainContent {
	
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;									/*für Mozilla-Browser*/
	-webkit-border-radius: 5px;									/*für Webkit-Browser, z.B. Chrome*/
}

.content {
	min-height: 543px;											/*entscheidener Wert zum anordnen der Container im Hauptbereich*/
	width: 70%;													/*Basiswert für content-Container*/
	float: left;
}

.topContent {
	min-height: 543px;											/*entscheidener Wert zum anordnen der Container im Hauptbereich*/
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;									/*für Mozilla-Browser*/
	-webkit-border-radius: 5px;									/*für Webkit-Browser, z.B. Chrome*/
	padding: 3% 5%;
	margin-top: 2%;
}


/*--------Tabellen-Gestaltung----------------------------------*/
.tableheader {
	color: #000;
	font-size: 90%;
	font-weight: bold;
	line-height: 1.5;
}

.td_list:hover {													/*Tabellen-Hovereffekt*/
  background-color: #E8E8FF;
}

#t-aut {
	width: 100px;
}

#td_author {
	width: 100px;
}

#t-cat {
	width: 100px;
}

#td_category { 
	width: 100px;
}

#t-title {
	width: 250px;
}

#td_title {
	width: 250px;								
}

#t-date {
	width: 100px;
}

#td_days_to_go {
	width: 100px;
}

#heading { width: 10px; }

#fieldname {
	width: 100px;
	table-layout: fixed;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
}

#author { width: 100%; }											/* id: Breite des <input> Eingabefeldes */
#title{ width: 100%; }											
#creation_date { width: 100%; }
#expiration_date { width: 100%; }
#notes { width: 100%; }

.tablefooter {
	font-size: 80%;
	font-weight: italic;
	line-height: 1.5;
	text-align: left;
}



/*---Seitenzahlen-Gestaltung------------------------------------ */
#page_number{
	margin: 0 auto;
}

.page {
	background-color: #ffffff;
	font-size: 80%;
	/*text-decoration: underline;*/
	border-style: solid;
    border-width: 1px;
	border-color: #666;
	border-radius: 4px;
	margin-right: 5px;											/*Außenabstand rechts*/
	padding: 5px;												/*Innenabstand*/
	-moz-border-radius: 4px;									/*für Mozilla-Browser*/
	-webkit-border-radius: 4px;									/*für Webkit-Browser, z.B. Chrome*/
}



/*---weitere Elemente----------------------------------------- */
.middleContentPages {
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;									/*für Mozilla-Browser*/
	-webkit-border-radius: 5px;									/*für Webkit-Browser, z.B. Chrome*/
	padding: 1% 1%;
	margin-top: 2%;
}

.bottomContent {
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;									/*für Mozilla-Browser*/
	-webkit-border-radius: 5px;									/*für Webkit-Browser, z.B. Chrome*/
	padding: 3% 5%;
	margin-top: 2%;
}

.response-table{
	background-color: #ffffff;
}

.post-info {
	font-style: italic;
	font-size: 90%;
	color: #c4bdbd;
}

.top-sidebar {
	width: 21%;													/*Basiswert für content-Container beachten 70+21+3 (margin-left)+3+3 (padding rechts und links) = 100*/
	float: left;
	font-size: 90%;
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;									/*für Mozilla-Browser*/
	-webkit-border-radius: 5px;									/*für Webkit-Browser, z.B. Chrome*/
	margin-top: 1.5%;
	margin-left: 3%;											/*Basiswert für content-Container beachten 70+21+3 (margin-left)+3+3 (padding rechts und links) = 100*/
	margin-bottom: 2%;
	padding: 2% 3%;												/*Innenabstand oben und unten: 2%, rechts und links: 3%*/
}

.middle-sidebar {
	width: 21%;													/*gleiche Berechnung wie top-sidebar*/
	float: left;
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;									/*für Mozilla-Browser*/
	-webkit-border-radius: 5px;									/*für Webkit-Browser, z.B. Chrome*/
	margin-left: 3%;											
	margin-bottom: 2%;											
	padding: 2% 3%;
}

#los_warnung { 
	color: red;
}

.bottom-sidebar {
	width: 21%;													/*gleiche Berechnung wie top-sidebar*/
	float: left;
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;									/*für Mozilla-Browser*/
	-webkit-border-radius: 5px;									/*für Webkit-Browser, z.B. Chrome*/
	margin-left: 3%;											
	margin-bottom: 0.5%;											
	padding: 2.5% 3%;
}

.mainFooter {
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;									/*für Mozilla-Browser*/
	-webkit-border-radius: 5px;									/*für Webkit-Browser, z.B. Chrome*/
	background-color: #666;
	margin-top: 2%;
	margin-bottom: 2%;
}

.mainFooter p {
	width: 92%;
	margin: 10px auto;
	color: #ffffff;
}

.template,
.pages,
.articles,
.wikiheader,
.wikifooter,
#wiki_details {													/* Klassen template und wiki_details verstecken */
  display: none;
}

.wiki {															/* Cursor "Pointer" für die Klasse wiki bei Hover anzeigen */
  cursor: pointer; 
 }



/*--Fenster-Gestaltungen--------------------------------------- */

#contact { font-family: Arial; font-size: 14px; }


/* create_dialog, edit_dialog, wiki_details */
#create_dialog, #edit_dialog, #wiki_details , #error_dialog, #delete_dialog {
	font-size: 14px;														/*Basis-Schriftgräße ist 14px!*/
	font-family: Arial;
	}
	
/* create_dialog, edit_dialog */
#author_field, #creation_date_field, #expiration_date_field {width: 200px;} 
#category_field {width: 200px; }
#title_field { width: 200px; }
#notes_field { width: 450px; height: 200px; }

/* wiki_details */
#author_field_details, #creation_date_field_details, #expiration_date_field_details {width: 150px; background-color: #ffffff;} 
#category_field_details {width: 150px; background-color: #ffffff;}
#title_field_details { width: 150px; background-color: #ffffff;}
#notes_field_details { width: 350px; height: 200px; background-color: #ffffff;}




/*--------Media-Queries Anfang--------*/									/*hier stehen nur die abweichenden Werte für mobile Geräte*/
/*
@media only screen and (min-width: 150px) and (max-width: 600px) {

	.body {
		width: 90%;
		font-size: 95%;
	}
 
	.mainHeader img {
		width: 100%;
	}

	.mainHeader nav {
		height: 160px;												
	} 
 
	.mainHeader nav ul {
		padding-left: 0;
	} 
 
	.mainHeader nav ul li {
		width: 100%;
		text-align: center;				 							
	}

	.mainHeader nav a:link, .mainHeader nav a:visited {
			padding: 10px 25px;											
			height: 20px;
			display: block;																						
	}

 
/*
	.mainContent {
		line-height: 30px;
	}

	.pageContent {
		line-height: 30px;
	}
	
	.content {
		width: 100%;	
		float: left;
		margin-top: 2%;
	}

	.topContent {
		margin-bottom: 4%;
	}

	.bottomContent {
		margin-top: 3%;
	}

	.post-info {
		font-size: 75%;
	}

	.top-sidebar {												
		width: 94%;													
		margin-top: 2%;
		margin-left: 0;
		margin-bottom: 2%;
		padding: 2% 3%;												
	}

	.middle-sidebar {
		width: 94%;													
		margin-top: 2%;
		margin-left: 0;
		margin-bottom: 2%;
		padding: 2% 3%;												
	}

	.bottom-sidebar {
		width: 94%;													
		margin-top: 2%;
		margin-left: 0;
		margin-bottom: 2%;
		padding: 2% 3%;												
	}


}
*/
/*--------Media-Queries Ende--------*/



