body { font-family: Calibri; 
	   background-color: #dee0f1;
	   width: 800px;
	   position: relative;
}
/* Formatierung des Dokumentenkörpers */

h1 { color: #0212a0; 
    text-align: center; 
   }
/* Formatierung der Überschrift */

a { color: black; 
   text-decoration: none;
  }
/* Formatierung der Links, Farbe und Textdekoration */

.disabled { color: grey; }
/* Formatierung für alle Elemente, welche <xxx class="disabled"> verwenden */

.due  *{ color: red; }
/* Formatierung für alle Elemente, der Klasse Fällig <xxx class="due"> verwenden */

a:hover { text-decoration: underline; }
/* Formatierung der Links mit Pseudoklasse, wenn Maus auf Element zeigt, dann unterstreichen */

th { text-align: left; }
/* Tabellenüberschrift links ausrichten */

div { border-width: 1px; border-style: solid; border-color: silver; 
     margin-left: 5px;
	 margin-right: 5px;
	 margin-top: 5px;
	 margin-bottom: 5px;
	 padding: 5px;				/* padding = Innenabstand - Box Modell*/
	 }
/* Formatierung für div = division = Abschnitt : margin = Rand */

input[type=text] { border: 1px solid silver; }
/* Formatierung nur für Tag input mit dem [type=text] */
/* angesprochen wird nur <input type="text"..> aber nicht <input type="image"..> */

img { border: none; }
/* Kein Rahmen um Bilder */


#pagesize_selector { margin-left: 10px; float: right; }
/* position: absolute; right: 5px; */

.abstand  { margin-left: 10px; }

table { width: 100%}
/* Tabelle soll 100% der verfügbaren Breite einnehmen (minus Ränder) */

#home { position: absolute; top: 10px; left: 10px; }
/* Über Klassen die position bestimmen - Relativ zum nächsten übergeordneten Element */
/* position hat folgenden Möglichkeiten: static, realative, absolute */

#logon { position: absolute; top: 10px; right: 10px; }
#logoff { position: absolute; top: 10px; right: 10px; }
/* Die Formatierung muss aus dem Formular heraus erfolgen. Dazu muss dieser Umweg gewählt werden */


/* Formatierung des Textfeldes */
#username { position: absolute; right: 5px; }
/* Textfeld nach rechts */

#selector { text-align: right; }

.

td { vertical-align: top; padding: 3px; white-space: nowrap: }

