RewriteEngine on 

# Hierdurch lässt sich die Seite über folgende URL aufrufen: http://localhost/rfh_web_dev_project/service/wikis

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^wikis$ RequestHandler.php?command=GetWikisCommand

RewriteCond %{REQUEST_METHOD} GET
RewriteRule ^wikis/(.+)$ RequestHandler.php?command=GetWikiCommand&id=$1

RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^wikis$ RequestHandler.php?command=CreateWikiCommand

RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^wikis/(.+)$ RequestHandler.php?command=DeleteWikiCommand&id=$1

RewriteCond %{REQUEST_METHOD} PUT
RewriteRule ^wikis/(.+)$ RequestHandler.php?command=UpdateWikiCommand&id=$1